@import "reset";
@import "typography";

@keyframes fade {
    0% {opacity: 0;}
    100% { opacity: 1;}
}

$primary-color: gainsboro;
$body-font: "Happy Times";
$body-size: 24px;
$heading-font: "Happy Times";
$mq-large: 800px;
$mq-medium: 600px;

@mixin mq($width) {
    @media (max-width: $width) {
        @content;
    }
}


body {
    background-color: $primary-color;
    color: black;
    font-family: $body-font;
    font-size: $body-size;
    line-height: 1.5; 
    height: 100vh;

    nav {
        position: fixed;
        top: 0;
        left: -100vw;
        width: 100vw;
        height: 100vh;
        background-color: darkslateblue;
        color: white;
    
        font-size: 2rem;
        
        display: flex;
        flex-direction: column;
        justify-content: center;
    
        transition: left 0.5s;
        z-index: 2;
    
        
        &.open {
            left: 0;
        }
    
    
        a {
            color: white;
            text-decoration: none;
            margin: 5px 32px;
        }
    }
    
    div.menu-options {
        position: fixed;
        top: 20px;
        right: 20px;
        z-index: 2;
    }

    main {
        z-index: 1;
        transition: transform 0.5s;
        
        &.open {
            transform: translate(100vw, 0)
        }
    }
}






#index { 
        main {
            min-height: 100vh;
            position: relative;

            section {
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;

                div.slides {
                    width: 350px;
                    position: relative;
                    
                    img {
                        height: 475px;
                        position: absolute;
                        top: 0;
                        left: 0;
        
                        &:first-child {
                            z-index: 1;
                        } 
                    }
                }
                div.content {
                    visibility: collapse;
                }
            }
        }
}


#tolstoy {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    header {

        display: flex;
        justify-content: center;
        align-items: center;

        h1 {
            font-size: 2rem;
            margin: 0 0 .5rem 0;
        }
    }

    main {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80%;
        text-align: center;

        h2 {
            font-size: 6rem;
            font-style: italic;
        }
    }


    footer {
            position: fixed;
            bottom: 2rem;
            left: 0;
            width: 100%;

            display: flex;
            justify-content: center;
            align-items: center;

            div.arrows {
                user-select: none; /* supported by Chrome and Opera */
            -webkit-user-select: none; /* Safari */
            -khtml-user-select: none; /* Konqueror HTML */
            -moz-user-select: none; /* Firefox */
            -ms-user-select: none; /* Internet Explorer/Edge */

                    svg {
                        color: black;
                        margin: 0 .2rem;
                    
                        &:hover {
                            color: white;
                            cursor: pointer;
                        }
                    }
            }  
        }
}