@font-face {
    font-family: "Avara_Bold";
    src:    url(/fonts/Avara-Bold.woff2) format('woff2'),
            url(/fonts/Avara-Bold.woff) format('woff')
}

@font-face {
    font-family: "Avara_Black";
    src:    url(/fonts/Avara-Black.woff2) format('woff2'),
            url(/fonts/Avara-Black.woff) format('woff')
}

@font-face {
    font-family: "Avara_Bold Italic";
    src:    url(/fonts/Avara-BoldItalic.woff2) format('woff2'),
            url(/fonts/Avara-BoldItalic.woff) format('woff'),
        
}


  /*        url(fonts/Bold/Avara-Bold.ttf) format('truetype'),
            url(fonts/Bold/Avara-Bold_webfont.svg#avara_bold) format('svg');
    font-weight: normal;
    font-style: normal;

    url('/fonts/BoldItalic/Avara-Bold_Italic_web.ttf') format('truetype'),
            url('/fonts/BoldItalic/Avara-Bold_Italic_web.svg#svgFontName') format('svg');
    font-weight: normal;
    font-style: normal;
@font-face {
    font-family: 'Avara_Black';
    src:    url('/fonts/Black/Avara-Black.woff2') format('woff2'),
            url('/fonts/Black/Avara-Black.woff') format('woff'),
            url('/fonts/Black/Avara-Black.ttf') format('truetype'),
            url('/fonts/Black/Avara-Black_webfont.svg#avara_black') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Avara_Bold';
}

*/