@font-face {
    font-family: "Avara_Bold";
    src: url(/dist/fonts/Avara-Bold.woff2), url(/dist/fonts/Avara-Bold.woff);
}

@font-face {
    font-family: "Avara_Black";
    src: url(/anna-karenina/src/fonts/Avara-Black.woff2), url(/anna-karenina/src/fonts/Avara-Black.woff);
}

@font-face {
    font-family: "Avara_Bold Italic";
    src: url(/anna-karenina/src/fonts/Avara-BoldItalic.woff2), url(/anna-karenina/src/fonts/Avara-BoldItalic.woff2);
}